.banner-container{
    display: flex;
}

.img-container{
    width: 60%;
}

.img-container img{
    width: 100%;
    border-radius: 50%;
}

.dr-info{
    border: 1px solid gray;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
}
.dr-info img {
    width: 100%;
    border-radius: 20px;
}